@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css" );
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

tbody tr {
  border-radius: 8px;
  box-shadow: 1px 1px 1px #e5e9ee, -1px -1px 1px #e5e9ee, 1px -1px 1px #e5e9ee, -1px 1px 1px #e5e9ee;
}

thead tr td:first-child {
  padding-left: 20px;
}

thead tr td:last-child {
  padding-right: 20px;
}

tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}
.bg{
  background: url("./../images/bg.png"); 
}
.map_back{
  background: url("./../images/map_back.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.button1{
  color: black;
  border: 2px solid white;
  height:40px;
  width:150%;
}


.button2{
  color: black;
  border: 2px solid white;
  width:40px;
  height:40px;
}
.button5{
  color: black;
  border: 2px solid white;
  width:94px;
  height:68px;
}

.button{
  background-color: white; /* Green */
  border: 2px solid white;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3{
  color: black;
  border: 2px solid white;
  height:40px;
  width:50%;
}
.button_ban{
  border: 2px solid white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.text{
  font-size: 28px;;
}

/* mobile */



/* responsive */
@media (min-width: 1920px) {
  .charity{
    margin-left:10px; 
    width:25%; 
    margin-top:284px;
  }
  .char_title{
    font-size:38px;
  }
  .ban{
    margin-left:702px;
    top:2207px;
    width:20%;
  }
  .header_hide{
    display: none;
  }
  .random_size{
    font-size:160px;
  }
}


@media (max-width: 1920px) {
  .charity{
    margin-left:10px; 
    width:25%; 
    margin-top:284px;
  }
  .char_title{
    font-size:38px;
  }
  .ban{
    margin-left:702px;
    top:2207px;
    width:20%;
  }
  .header_hide{
    display: none;
  }
  .random_size{
    font-size:160px;
  }
}
@media (max-width: 1600px) {
  .charity{
    margin-left:10px; 
    width:30%; 
    margin-top:311px;
  }
  .ban{
    margin-left:585px;
    top:2166px;
    width:20%;
  }
  
}
@media (max-width: 1440px) {
  .charity{
    margin-left:10px; 
    width:32%; 
    margin-top:365px;
  }
  .ban{
    margin-left:526px;
    top:2120px;
    width:20%;
  }
  
}
@media (max-width: 1280px) {
  .charity{
    margin-left:8px; 
    width:34%; 
    margin-top:417px;
  }
  .ban{
    margin-left:473px;
    top:1934px;
    width:20%;
  }
  .G14{
    height:415px;
  }
  .random_size{
    font-size:120px;
  }
}

@media (max-width: 1160px) {
  .card{
    margin-left:160px;
  }
  .charity{
    margin-left:8px; 
    width:34%; 
    margin-top:482px;
  }
  .story{
    padding-right:90px;
    padding-left:90px;
    padding-bottom:50px;
  }
  .random_size{
    font-size:100px;
  }
  .ban{
    margin-left:442px;
    top:2132px;
    width:20%;
  }
  
}

@media (max-width: 1024px) {
  
  .charity{
    margin-left:10px; 
    width:33%; 
    margin-top:590px;
  }
  .G14{
    height:637px;
  }
  .ban{
    margin-left:390px;
    top:2145px;
    width:20%;
  }
  .card{
    margin-left:160px;
  }
  .story{
    padding-right:90px;
    padding-left:90px;
    padding-bottom:50px;
  }
  .random_size{
    font-size:100px;
  }
  .rg_size{
    font-size:24px;
  }
  .button{
    background-color: white; /* Green */
    border: 2px solid white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    width:100%;
    cursor: pointer;
  }
  .button_ban{
    border: 2px solid white;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width:100%;
  }
  .char_title{
    font-size:25px;
  }
}
 @media (min-width: 769px) and (max-width:1023px){
  
  .ban{
    margin-left:340px;
    top:2147px;
    width:20%;
  }
  .charity{
    margin-left:10px; 
    width:33%; 
    margin-top:725px;
  }
  .button{
    background-color: white; /* Green */
    border: 2px solid white;
    cursor: pointer;
    height:60px;
    font-size: 10px;
  }
  .button_ban{
    border: 2px solid white;
    color: white;
    cursor: pointer;
    height:60px;
    font-size: 12px;
  }
  .random_size{
    font-size:70px;
  }
  .sec_h{
    margin-top:120px;
  }
} 
@media (max-width: 768px) {
  
  .header_hide{
    display: block;
  }
  .charity{
    margin-left:10px; 
    width:33%; 
    margin-top:862px;
  }
  .ban{
    margin-left:360px;
    top:2282px;
    width:20%;
  }
  .button_mo{
    background-color: white; /* Green */
    border: 2px solid white;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    width:100%;
    cursor: pointer;
  }
  .button_ban_mo{
    border: 2px solid white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    width:100%;
  }
  .G14{
    height:769px;
    
  }
  .Group1_max{
    height:490px;
  }
  
  .mo_header{
    display:none;
  }
  .mo_babes{
   margin-left:310px;
  }
  .mo_head{
    width:768px;
    height:232px;
  }
  .mo_magazine{
    font-size:28px;
    display:wrap;
    margin-top:23rem;
  }
  .mo_bg{
    background: url("./../images/Rectangle_mo.png");
  }
  .basi{
    text-align: center;
  }
  .basi_text{
    padding:3rem;
    font-size: 28px;  
    text-align: center;
  }
  .ban{
    display: none;
  }
  .mint_text{
    padding:3rem;
  }
  .Group1_hide{
    display: none;
  }
  .card_hide{
    display: none;
  }
  .hide{
    display: none;
  }
  .cen{
    justify-content: center;
  }
  .text_cen{
    text-align: center;
  }
}



html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

img {
  max-width: 100%;
}

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  /* &:hover {
    background: red;
  } */
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("https://source.unsplash.com/t7YycgAoVSw/1600x900");
}
.slide-2 {
  background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
}
.slide-3 {
  background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
}


body {
  font-family: Sans-serif;
  font-size: 18px;
  background:#eaeaea;
}

.content {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  
}
.faq_text{
  color:white;
  border: 2px solid white;
}
summary {
  font-size: 1rem;
  font-weight: 600;
  background-color:black;
  color:white;
  border: 2px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  text-align: left;
  cursor: pointer;
  position: relative;
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}





